@import "~bootstrap/scss/bootstrap.scss";

.container{
    background: black;
    height: 600px;
    width: 400px;
}

.red{
    background: red;
    height: 33%;
    border-radius: 100%;
}

.yellow{
    background: yellow;
    height: 33%;
    border-radius: 100%;
}

.green{
    background: green;
    height: 33%;
    border-radius: 100%;
}

.selectedGreen{
    background: blue;
    height: 33%;
    border-radius: 100%;
}
